In [ ]:
# function

print() int() float() str() list() dict() tuple() set() #eni haru sab function hun(predefined function)

In [ ]:
# User defined function
#def<function_name>():
#    <operation>

#<function_name>

In [1]:
def hello():    #function defined
    print("Hello World")

hello()    #function call

Hello World

In [3]:
def cal():
    l = int(input("Enter  l ="))  #glocal variable
    b = int(input("Enter b = "))  #glocal variable
    a = l*b
    print(a)

cal()

Enter  l = 10
Enter b =  10

100

In [4]:
l = int(input("Enter  l ="))  #glocal variable
b = int(input("Enter b = "))  #glocal variable
# (Note: hami le yesari function lai bahira pani defined garna sakxau vanna khojiko ) 
def cal():
    
    a = l*b
    print(a)

cal()

Enter  l = 10
Enter b =  10

100

In [5]:
def cal(x,y):    # x,y are parameter
    l = int(input("Enter  l ="))  #glocal variable
    b = int(input("Enter b = "))  #glocal variable
    a = x*y
    print(a)

cal(l,b)      # l,b are arguments

Enter  l = 10
Enter b =  10

100

In [14]:
def cal(z):    # x,y are parameter
    x,y = z
    a = x*y
    l = int(input("Enter  l ="))  #glocal variable
    b = int(input("Enter b = "))  #glocal variable
    print(a)
    z = [l,b]

cal(z)      # a,b are arguments

NameError: name 'z' is not defined

In [15]:
# WAP of Calculator using function.

def cal(a,b,opr):

    if opr=="+":
       print(a+b)
    elif opr=="-":
        print(a-b)
    elif opr=="*":
         print(a*b)
    elif opr=="/" and b!=0:  
         print(a/b)
    elif opr =="/" and b==0:
         print("the value of b can not be zero")  
    else:
       print("invalid opr...")

a=int(input("enter the value a="))
b=int(input("enter the value b="))
opr= input("enter the opr..")

cal(a,b,opr)

enter the value a= 11
enter the value b= 22
enter the opr.. -

-11

In [17]:
def language(lan = "Python"):
    print(lan)

language("C")
language("C++")
language("C#")
language("Java")
language("Python")

C
C++
C#
Java
Python

In [19]:
# return type function

def hello():
    x = "Hello Teja"
    return x

#print(hello())
y = hello()
print(y + " I am Python")

Hello Teja I am Python

In [21]:
# WAP of area and volune using function.

def cal(l,b):
    a = l*b 
    return a
l = int(input("Enter  l ="))  #glocal variable
b = int(input("Enter b = "))  #glocal variable
h = int(input("Enter h = "))
area = cal(l,b)
volume = area * h
print(area)
print(volume)

Enter  l = 10
Enter b =  10
Enter h =  2

100
200

In [22]:
#  WAP of five subject and calculate total marks ,percentage and grade using function.

def result():
    physics=int(input("enter the physics marks="))
    chemistry=int(input("enter the chemistry marks ="))
    math= int(input("enter the math marks ="))
    nepali=int(input("enter the nepali marks ="))
    english=int(input("enter the english marks ="))
    if  physics>=32 and chemistry>=32 and math>=32 and nepali>=32 and english>=32:
      total=physics + chemistry + math + nepali + english
      per=total/5
      if per>=75:
          grade='a'
      elif per>=70:
          grade='b'
      elif per>=65:
          grade='c'
      else:
          grade='d'
    else:
        grade='f'
    
    return total,per,grade

x,y,z = result()

print("Total marks =",x)
print("Per =",y)
print("Grade =",z)

enter the physics marks= 70
enter the chemistry marks = 70
enter the math marks = 50
enter the nepali marks = 60
enter the english marks = 88

Total marks = 338
Per = 67.6
Grade = c

In [23]:
# WAP of Calculator using function.

def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
    
def cal(a,b,opr):  # hami def() lai yata pani defined garna sakxau vanna khojiko

    if opr=="+":
        print(a+b)
    elif opr=="-":
        print(a-b)
    elif opr=="*":
        print(a*b)
    elif opr=="/" and b!=0:  
        print(a/b)
    elif opr =="/" and b==0:
        print("the value of b can not be zero")  
    else:
        print("invalid opr...")

a=int(input("Enter the value a="))
b=int(input("Enter the value b="))
opr= input("Enter the opr..")

cal(a,b,opr)

enter the value a= 20
enter the value b= 10
enter the opr.. +

30

In [3]:
# Recursive function

def hello():
    print("Hello World")
    hello()      

hello()
     # Note : yo function infinite samma chalxa so yeslai control yesari garinaxa tala xa hai taa

Hello World

In [7]:
# Recursive function

def hello():
    print("Hello World")
    x = input("Enter y for more print = ")
    if x == "y":
        hello()
    

hello()
      #Note :  yeslai control yesari garinaxa

Hello World

Enter y fo more print =  Hello World

In [8]:
# Math function 

import math as m   # math function lai direct access garna sakedaina so import function use garnu parxa
print(m.sin(m.pi/2)) # yesari nikalne sin(90) ko value

1.0

In [9]:
m.factorial(5)

120

In [10]:
print(m.e) # e = expontatial function ho

2.718281828459045

In [11]:
# lambda function
#syntax: lambda <arguments>:<operation>

a = lambda x:x**2
print(a(3))

9

In [12]:
a = lambda x,y:x*y
print(a(4,5))

20

In [13]:
#Filter function
#Map function

In [14]:
# filter function

  #syntax: filter((lambda <arguments>:<condition>),list)

a = [1,2,3,4,5,6,7,8,9,10]
list(filter((lambda x:x%2==0),a))

[2, 4, 6, 8, 10]

In [15]:
# filter function

  #syntax: filter((lambda <arguments>:<condition>),list)

a = [1,2,3,4,5,6,7,8,9,10]
tuple(filter((lambda x:x%2==0),a))

(2, 4, 6, 8, 10)

In [16]:
# filter function

  #syntax: filter((lambda <arguments>:<condition>),list)

a = [1,2,3,4,5,6,7,8,9,10]
set(filter((lambda x:x%2==0),a))

{2, 4, 6, 8, 10}

In [19]:
a = ["Apple","Ball","Cat","Dog","Fish","bat"]
list(filter((lambda x:x.islower()),a))

['bat']

In [22]:
# Map function

 #syntex: map((lambda <arguments>:<operation>),list)

a = ["Apple","Ball","Cat","Dog","Fish","Bat"]
b = list(map((lambda x:x.lower()),a))
print(b)

['apple', 'ball', 'cat', 'dog', 'fish', 'bat']

In [23]:
a = [1,2,3,4,5,6,7,8,9]
b = list(map(lambda x:x**2,a))
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
a = [20000,30000,40000,500000,60000,70000,80000] # suppose yo employees haru ko salary ho 
b = list(map(lambda x:x*1.2,a))  # employees haru ko salary 20% le badhako ho. i.e o.2 + 1 gariko 
print(b)

[24000.0, 36000.0, 48000.0, 600000.0, 72000.0, 84000.0, 96000.0]

In [25]:
# list and dict

a = [i for i in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
a = [int(input("Enter value = ")) for i in range(5)] # yesari eutai line maa code garna sakxau vanna khojiko
print(a)

Enter value =  10
Enter value =  20
Enter value =  30
Enter value =  40
Enter value =  50

[10, 20, 30, 40, 50]

In [27]:
a = sum([int(input("Enter value = ")) for i in range(5)]) # yesari eutai line maa code garna sakxau vanna khojiko
print(a)

Enter value =  10
Enter value =  20
Enter value =  30
Enter value =  40
Enter value =  50

150

In [31]:
a = {input("Enter name "):input("Enter phone") for i in range(3)}
print(a)

Enter name  Teja
Enter phone 9867577578
Enter name  Tej
Enter phone 98073567297
Enter name  Ram
Enter phone 9865423456

{'Teja': '9867577578', 'Tej': '98073567297', 'Ram': '9865423456'}

In [30]:
x = [1,2,3,4,5,6,7,8,9]
a = {i:i**2 for i in x}   # yesari pani square nikalna sakinxa map function use nagari 
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}