In [ ]:
#for loop 
#while loop

In [ ]:
for i in range(1,5):
    print(i)

In [1]:
for i in range(1,5,2):
    print(i)

1
3

In [ ]:
#range() #create sequence of number

In [2]:
for i in range (1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [ ]:
x= int(input("enter x ="))
for i in range (1,11):
    print(x,"*",i,"= ","i*x")

In [ ]:
abc=0
for i in range (5):
    x= int(input("enter x ="))
    abc=abc + x
print(abc)

In [ ]:
abc="" #str()
n= int(input("enter n = "))
for i in range (n):
    x= int(input("enter x ="))
    abc=abc + str(x) + "\n"

    
print(abc)

In [ ]:
contact = " "
n= int(input("Enter n = "))
for i in range (n):
    name = int(input("Enter name ="))
    phone = int(input("Enter phone  ="))
    contact = contact + name + " " + str(phone) + "\n"
     
print(contact)

fac = 1
n = int(input("Enter n = "))
for i in range(1, n+1):
    fac = fac * 1
print(fac)

In [ ]:
fac = 1
n = int(input("enter x = "))
for i in range (1, n+1):
    fac= fac*i
print(fac)

In [ ]:
n = 10 
for i in range (10):
    print((n-i)*" " ,2*(i *  'o'))
for i in range(5):
    print(7*" " , 5*"o")

In [ ]:
#wap to make a billing system
name =?
price = ?
quantity =?
total=?
n= int(input("Enter n = "))
for i in range (n):
    name = int(input("enter the name ="))
    price = int(input("enter the price ="))
    quantity = int(input("enter the quantity ="))
    total = price + " " +  str(name) + " " + quantity + " \n"

print(total)

In [ ]:
total = 0
name = 0 
price = 0
quantity = 0
n= int(input("Enter n = "))
for i in range (n):
    name= input("Name: ")
    a = str(name)
    price = input("Enter the price: ")
    b = int(price)
    quantity = ("Enter the quantity: ")
    total = price + " " + name + " " + quantity + " \n"

print(total)

In [ ]:
total = 0
name = 0 
price = 0
quantity = 0
n= int(input("Enter n = "))
for i in range (n):
    name= input("Enter the Name: ")
    price = input("Enter the price: ")
    quantity = input("Enter the quantity: ")
    total = name + " " + price + " " + quantity + " \n"

print(total)

In [ ]:
bill = ""
all_total = 0
n= int(input("Enter n = "))
for i in range (n):
    name= input("Enter the Name = ")
    price = int(input("Enter the price = "))
    quantity =int(input("Enter the quantity = "))
    total = price * quantity
    bill = bill + name + " "  + str(price) + " " + str(quantity) + " " + str(total) + "\n"
    all_total = all_total + total

print(bill)
print(all_total)

In [ ]:
a = "hello world"
for i in a:
    print(i ," hello world")

In [ ]:
a = "llo world, i am python"
for i in a:
    print(i)

In [ ]:
a = "hello world, i am python"
for i in a:
    print(i,end ="")

In [ ]:
a = "hello world, i am python."
for i in a:
    if i !=".":
       print(i,end ="")

In [ ]:
a = "hello world. i am python"
for i in a:
    if i !="." and i != "!":
        print(i,end = "")

In [ ]:
#control statement
#break
#continue
#pass

In [ ]:
#break
for i in range(10):
    if i == 5:
        break

    print(i)

In [ ]:
a = "hello world. i am python."
for i in a:
    if i !=".":
        break
        
    print(i,end = "")

In [ ]:
a = "hello world. i am python."
for i in a:
    if i !=".":
         print(i,end = "")
    else:
        break

In [ ]:
#continue
for i in range(10):
    if i == 5:
        continue

    print(i, end = " ")

In [ ]:
for i in range(1,51):
    if i%5 !=0:
        continue

    print(i)

In [ ]:
a = "Hello world. I am python."
for i in a:
    if i == ".":
        continue
        
    print(i,end = "")

In [ ]:
#pass
for i in range(5):
    pass

In [ ]:
a==10
if a%2 ==0:
    pass

In [ ]:
#while loop

In [ ]:
syntax:
while<condition>:
    <operation>

In [ ]:
a = 0
while a < 5:
    print("Hello World")
    a = a + 1

In [ ]:
a = 1
while a < 5:
    print("Hello World")
    a = a + 1

In [ ]:
a = 1
while a < 5:
    print(a ,"Hello World")
    a = a + 0.5

In [ ]:
i = 1
x= int(input("enter x ="))
while i<=10:    
    print(x,"*",i,"= ","i*x ")
    i = i + 1

In [ ]:
i = 1
fac = 1
n = int(input("enter n = "))
while i<=n:
    fac= fac*i
    i = i + 1
    
print(fac)

In [ ]:
# wap bill system using while loop
i = 0
bill = ""
all_total = 0
n= int(input("Enter n = "))
while i <= n:
    name= input("Enter the Name = ")
    price = int(input("Enter the price = "))
    quantity =int(input("Enter the quantity = "))
    total = price * quantity
    bill = bill + name + " "  + str(price) + " " + str(quantity) + " " + str(total) + "\n"
    all_total = all_total + total
    i = i + 1

print(bill)
print(all_total)

important note: - while loop use garda hamile dhyan denu parnii kura  3 wota xa 
1. first initilized garni 
2. while lagayira condition lagauni
3.last maa increment garni .

In [ ]:
#break in while
i = 0
while i<=10:
    if i == 5:
        break
    print(i)
    i = i + 1

In [ ]:
#continue in while
i = 0
while i<=10:
    if i == 5:
        i = i + 1
        continue
    print(i)
    i = i + 1

In [ ]:
#continue in while
i = 0
while i<=10:
    if i == 5:
        i = i + 1
        continue
    print(i, end = " ")
    i = i + 1

In [ ]:
#wap to find if the given number is prime or composite
num=int(input("Enter the no:"))
count=0
i=1
while i<=num:
    if num%i==0:
        count=count + 1
    i= i + 1
if count==2:
    print("The number is prime:")
elif count>2:
    print("The number is composite:")
else:
    print("The number is neither prime nor composite:")

In [ ]:
num=int(input("Enter the no:"))
count =0
i=1
while i<=num:
    if num % i == 0:
       count = count + 1
    i = i + 1
if count==2:
    print("The number is prime:")
    
   
else:
    print("The number is not prime:")

In [ ]:
num=int(input("Enter the no:"))
count =0
i=1
while i<=num:
    if num % i == 0:
       count = count + 1
    i = i + 1
if count>2:
    print("The number is composite:")
    
   
else:
    print("The number is not composite:")

In [ ]:
#string
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

In [ ]:
a = "Hello World\n"
print(a*2)

In [ ]:
a = "Hello World"
for i in a:
    print(i,end ="")

In [ ]:
a = "Hello World"
print(a[0])
print(a[0:5])
print(a[0:10:2])

In [ ]:
a = "Hello World"
print(a[5:])

In [ ]:
a = "Hello World"
print(a[-1])

In [ ]:
a = "Hello World"
print(a[-1:-12:-1])

In [ ]:
a = "Hello World"
print(a[::-1])

In [ ]:
a = " Hello World"
l = len(a)
for i in range(l):
   print(a[i])

In [ ]:
a = " Hello World"
i=0
l = len(a)
while i<l:
   print(a[i])
   i = i + 1

In [ ]:
# string formatting
name = "Ram"
age = 10
add = "Dhangadhi"
info = "Hello world I am " + name + "I am from " + str(add) + " I am " + str(age)
print(info)

In [ ]:
name = "Ram"
age = 10
add = "Dhangadhi"
info = f"Hello world I am {name}  I am from {add} I am {age}"
print(info)

In [ ]:
a = "Ram Shyam Hari Sita Gita"
search = input("Enter name =")
if search in a:
    print("Yes",a.count(search))

else:
    print("No")

In [ ]:
a = "Ram Shyam Hari Sita Gita"
print(a.lower())
print(a.upper())
print(a)

In [ ]:
a = "Ram Shyam Hari Sita Gita".lower()
search = input("Enter name =").lower()
if search in a:
    print("Yes",a.count(search))

else:
    print("No")

In [ ]:
a = "Ram Shyam Hari Sita Gita"
if "Nabin" not in a:
    print("No")

In [ ]:
a = "Ram Shyam Hari Sita Gita"
print(a.isupper())
print(a.islower())

In [ ]:
a = "ram shyam hari sita gita"
print(a.isupper())
print(a.islower())

In [ ]:
a = "Ram"
print(a[0].isupper())

In [ ]:
#replace function
a = "ram shyam hari sita gita"
a = a.replace("ram","rama")
print(a)

In [ ]:
#replace function
a = "ram shyam hari sita gita".replace("ram","rama")

print(a)

note: yesari pani garna melyo vanna khojiko

In [ ]:
#remove function
a = "ram shyam hari sita gita"
a = a.replace("ram"," ")
print(a)

note: python maa delete vanni function hudaina so hami delete garda yesari lekhna sakxau

In [ ]:
# wap program for palindrom number
num = input("Enter the number =")
reverse = (num[::-1])
if (num == reverse):
    print("The number is palindrome")
else:
    print("The number is not palindrome")

In [ ]:
# python collection
# list
# tuple
# dict
# set

In [ ]:
#list
#multple and duplicate data
#indexing
#ordered
#mutable

In [ ]:
a = list()
b = []

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(a[0])

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(a[0:5])
print(a[0:5:2])

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
b =[ 0,1,2,3,4,5,6,7,8,9,0]
print(type(a))
print(type(b))
print(a)

In [ ]:
a = [1,2,3,4,5]
b = [6,7,8,9]
c = a + b
print(c)

In [ ]:
a = [1,2,3,4,5]
b = [6,7,8,9]
print(a*2, b*2)

In [ ]:
#append() insert() extend()
a =[]
a.append("Apple")
a.append("Ball")
print(a)

In [8]:
l=[]
n = int(input("enter n ="))
for i in range (n):
    x = int(input("enter x =")) 
    l.append(x)

print(l)

enter n = 2
enter x = 3
enter x = 4

[3, 4]

In [3]:
n = int(input("Enter n = "))
print("min value = ",min(l))
print("max value =",max(l))
print("sum value =", sum(l))
l.sort()
print(l)
l.reverse()
print(l)

TypeError: len() takes exactly one argument (0 given)

In [7]:
l=[]
n = int(input("enter n ="))
for i in range (n):
    x = input("enter x =")
    l.append(x)
    l.sort() 
print(l)

#note: alphabtic oreder maa chabge garna l.order () gardeyo vani alphabatic maa print hunxa

enter n = 2
enter x = 2
enter x = 3

['2', '3']

In [ ]:
#insert
a = ["Ram","Shyam","Hari","Gita","Sita"]
a.insert(1,"Teja")
print(a)

In [ ]:
#update
a = ["Ram","Shyam","Hari","Gita","Sita"]
a[0] = "Teja"
print(a)

In [ ]:
a = ["Ram","Shyam","Hari","Gita","Sita"]
a[0:2] = ['Teja' , 'Tej']
print(a)

In [ ]:
#insert multiple value inside certain index.

a = ["Ram","Shyam","Hari","Gita","Sita"]
a[1:1] = ["Teja","Tej"]
print(a)

In [ ]:
#for delete  ko lagi use garni symbol haru del(), remove(), pop(), clear().

a = ["Ram","Shyam","Hari","Gita","Sita"]
del a[0]
print(a)

In [ ]:
a = ["Ram","Shyam","Hari","Gita","Sita"]
del a[0:2]
print(a)

In [ ]:
a = ["Ram","Shyam","Hari","Gita","Sita"]
a.remove("Ram")
print(a)

In [ ]:
a = ["Ram","Shyam","Hari","Gita","Sita"]
a.pop()
print(a)

In [ ]:
a = ["Ram","Shyam","Hari","Gita","Sita"]
b = a. pop(1)
print(a)
print(b)

In [ ]:
a = ["Ram","Shyam","Hari","Gita","Sita"]
for i in a:
    print(i)

In [ ]:
a = ["Ram","Shyam","Hari","Gita","Sita"]
l = len(a)
print(l)
for i in a:
    print(i)

In [ ]:
i = 0
a = ["Ram","Shyam","Hari","Gita","Sita"]
l = len(a)
while i<l:
    print(a[i])
    i = i + 1

In [ ]:
#recoveriny multiple value

a = ["Ram","Shyam","Hari","Gita","Sita", "Ram"]
c = a.count("Ram")
for i in range(c):
    a.remove("Ram")

print(a)

In [ ]:
#recoveriny multiple value

a = ["Ram","Shyam","Hari","Gita","Sita", "Ram"]
if "Ram" in a:
    print("Yes",a.count("Ram"))

else:
    print("No")

In [ ]:
a = ["Ram","Shyam","Hari","Gita","Sita", "Ram"]
a.index("Ram")


#note: index le single number lai matra print garxa but yadi multiple name xan same ra tini haru lai kati wota xan vanna tha pauna ko lagi aru lai varible use garni index use garna mildaina multile number ko lagi

In [ ]:
a = ["Ram","Shyam","Hari","Gita","Sita", "Ram"]
l = len(a)
for i in range(l):
    if a[i]=="Ram":
        print(i)

#note : multiuple number kati kati number xan vanna hirna hami le yesari loop lagayira garnu parxa

In [ ]:
a = ["Ram","Shyam","Hari","Gita","Sita", "ram"]
name = input("Enter name =")
l = len(a)
for i in range(l):
    if a[i].lower()==name.lower():
        print(i)

In [ ]:
a = [1,2,3,4,5,6,7]
l = len(a)
for i in range(l-1,-1,-1):
     print(a[i])

In [ ]:
#nasted list

a =[[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a)

In [ ]:
info = [["ram" , "shyam" , "hari"],
       ["gita" ,"sita"]]
print(info)
print(len(info))
info[0][0]

In [ ]:
infon = []
n = int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    x = [name,age,add]
    info.append(x)

print(info)

In [ ]:
info.append(["Tej",24,"Lalitpur"])

In [ ]:
#update
info = [["ram" , 25 , "Dhn"],
       ["Teja" , 27,"Mnr"]]
info[0] = ["Tej",26,"Ktm"]
print(info)

In [ ]:
#delete

info = [["ram" , "shyam" , "hari"],
       ["gita" ,"sita"]]
del info[0]
print(info)

In [ ]:
#pop

a = [["ram" , "shyam" , "hari"], ["gita" ,"sita"]]
b = a.pop(0)
print(a)
print(b)

In [ ]:
#search in list inside list

a = [["ram" , 25 , "Dhn"],["Teja" , 27,"Mnr"]]      
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

In [ ]:
a = [["ram" , 25 , "Dhn"],["Teja" , 27,"Mnr"],["sita",22,"Npl"] ,["ram" , 25 , "Dhn"]]      
name = input("Enter name = ")
l = len(a)
for i in range(l):
    if name in a[i]:
        print(i)

In [ ]:
#c=colom
#r=row

m = []
a = [[1,2,3],[4,5,6],[7,8,9]]
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range (r):
    y = []
    for j in range(c):
        x = int(input("Enter the value of x ="))
        y.append(x)
    m.append(y)

print(m)

In [ ]:
# dictionary
# indexing
# multiple and duplicate data or value
# ordered
# mutable

In [ ]:
d = dict()
d = {}
print(type(d))

In [ ]:
# d = {<key>:<value>}

d = {'a':'Apple','b':'Ball'}
print(d['a'])
print(d['b'])
print(d)

In [ ]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

In [ ]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone

print(d)

In [ ]:
d = {'Teja': 9865573166, 'TEj': 9868784347}
for i in d.items():
    print(i)

In [ ]:
d = {'Teja': 9865573166, 'TEj': 9868784347, 'Suman': 9861176800}
d['Teja'] = 9805749108
print(d)

In [ ]:
d = {'Teja': 9865573166, 'TEj': 9868784347, 'Sita': 9861176800}
b = {'Gita' : 9865573167}
d.update(b)
print(d)

In [ ]:
#delete in dict
#del pop

d = {'Teja': 9865573166, 'TEj': 9868784347, 'Sita': 9861176800}
del d['Teja'] 
print(d)

In [ ]:
d = {'Teja': 9865573166, 'TEj': 9868784347, 'Sita': 9861176800}
b = d.pop('Teja')
print(b)
print(d)

In [ ]:
#list inside dict

a = {'Teja': [9865573166,98664787637], 'TEj': [9868784347,98746762344], 'Sita': 9861176800, 'Gita': 9865573167}
a['Teja']

In [ ]:
a = {'name':['Teja','Tej','Sita','Gita'],
     'age':[23,24,25],
     'add':['Ktm','Dhn','Mnr']}

print(a)

In [ ]:
#a = {'Teja': [9865573166,98664787637], 'TEj': [9868784347,98746762344], 'Sita': 9861176800, 'Gita': 9865573167}
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone1 = int(input("Enter ph1 = "))
    phone2 = int(input("Enter phn2 = "))
    a[name] = [phone1,phone2]

print(a)

In [ ]:
#a = {'name':['Teja','Tej','Sita','Gita'],
#     'age':[23,24,25],
#     'add':['Ktm','Dhn','Mnr']}

#print(a)
a = {'name':[],'age':[],'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    a['name'].append(name)
    a['age'].append(age)
    a['add'].append(add)

print(a)

In [ ]:
a = {'name':['Teja','Tej','Sita','Gita'],
     'age':[23,24,25,26],
     'add':['Ktm','Dhn','Mnr','Npl']}

print(a)

In [ ]:
a = {'name': ['ram', 'sita'], 'age': [22, 24], 'add': ['ktm', 'dhn']}
print('Name = ',a['name'][0])
print('Name = ',a['age'][0])
print('Name = ',a['add'][0])

In [ ]:
a = {'name': ['ram', 'sita'], 'age': [22, 24], 'add': ['ktm', 'dhn']}
del a['name'][0]
del a['age'][0]
del a['add'][0]
print(a)

In [ ]:
a = {'name': ['ram', 'sita'], 'age': [22, 24], 'add': ['ktm', 'dhn']}
k = list(a.keys())
print(k)
index = int(input("Enter index = "))
for i in a:
    del a[i][index]

print(a)

In [ ]:
a = {'name': ['ram', 'sita'], 'age': [22, 24], 'add': ['ktm', 'dhn']}
index = int(input("Enter index = "))
for i in a:
    x = input(f"Enter {i}")
    a[i][index] = x

print(a)

In [ ]:
a = {'name': ['ram', 'sita'], 'age': [22, 24], 'add': ['ktm', 'dhn']}
print(a['name'])
for i in a:
    print(i)
    print(a[i])

In [ ]:
#get()
#keys()
#values()
#items()
#Note: 1> get() function ko kaam vaniko dictionary bata data get garnu ho 

d = {'Name':'Python', 'Fees':20000, 'Duration':'Two_Months'}
n = d.get('Name')
c = d.get('Fees')
print(n)
print(c)

In [ ]:
d = {'Name':'Python', 'Fees':20000, 'Duration':'Two_Months'}
n = d['Name'] #hami yesari pani data get garna sakxau
print(n)

In [ ]:
#keys() ,Values() ,and items() haru dictionary ko for loop ma use hunxan:

d = {'Name':'Python', 'Fees':20000, 'Duration':'Two_Months'}
for i in d.keys(): # yesari hami keys() haru matra get garna sakxau keys function use garira
    print(i)

In [ ]:
#keys() ,Values() ,and items() haru dictionary ko for loop ma use hunxan

d = {'Course':'Python', 'Fees':20000, 'Duration':'Two_Months'}
for i in d.values(): # yeasari hami values haru  pauna sakxau values() function use garina
    print(i)

In [ ]:
#keys() ,Values() ,and items() haru dictionary ko for loop ma use hunxan:

d = {'Course =': 'Python', 'Fees = ':20000, 'Duration = ':'Two_Months'}
for i,j in d.items():
    print(i ,j  )

In [ ]:
#dictionary ma delete garna hami del(),and pop() function ko use garxau

d = {'Course =': 'Python', 'Fees = ':20000, 'Duration = ':'Two_Months'}
del d['Fees = ']
print(d)

In [ ]:
#dictionary ma delete garna hami del(),and pop() function ko use garxau

d = {'Course =': 'Python', 'Fees = ':20000, 'Duration = ':'Two_Months'}
a = d.pop('Fees = ')
print(a)

In [ ]:
# Nasted dictionary(dictionary inside dictionary)
# Wap to add,update,delete read to the program
 (add ra delete garni program hamile yesma add garnu xa but update chai garika xau)

Course = {
    'php':{'duration = ': 'two_months' , 'fees = ': 10000},
    'python':{'duration = ': 'two_months' , 'fees = ':20000},
    'java':{'duration = ': 'two_months' , 'fees = ':30000}
}

print(Course)
print(Course['php'])
course['java']['fees'] = 25000 #update gariko
for i,j in course.items():
    print(i,j) 
    print(i,j['duration'],j['fees'])

In [ ]:
#dictionary inside list

a = [{'Name':'Ram', 'Age':20, 'Add':'Ktm'},
     {'Name':'Shyam', 'Age':25, 'Add':'Dhn'},
     {'Name':'Hari', 'Age':30, 'Add':'Mnr'}]
print(a)

In [ ]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)

print(l)

In [ ]:
info = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info[i] = {'name':name,'age':age,'add':add}
    

print(info)

In [ ]:
# Wap to update ,delete read to the program

In [ ]:
# Tuple
# -Indexing
# -Multiple and duplicate data
# -Ordered
# -Imutable

t = tuple()
a = (1,2,3,4,5,6,7,8,9,0)
b = ('Apple', 'Ball', 'Cat')
print(type(a))
print(type(b))

In [ ]:
# Tuple ka function haru:
  #min()
  #max()
  #count()
  #index()
  #sum()

In [ ]:
# Tuple

t = (22,33,44,55,66,77)
l = len(t)
for i in range(l):
    print(i)     # hami le yesma index number nikaleka hau

In [ ]:
# Tuple

t = (22,33,44,55,66,77)
l = len(t)
for i in range(l):
    print(t[i]))     # hami le yesma index number nikaleka hau

In [ ]:
#Tuple

b = ('Apple', 'Ball', 'Cat')
print(b[0])
print(b[0:2])
print(b[0:3:2])

In [ ]:
# No append() insert() extend()
# No update
# No delete
# NO sort
# Note: Tuple ma hami eni sab garna paudainau but concatination garna milxa

t = ()
n = int(input('Enter n = '))
for i in range(n):
    x = int(input('Enter x = '))
    t = t + (x,)

print(t)

In [ ]:
# WAP Tuple

a = (1,2,3,4,5,6,7,8,9,0)
print(min(a))
print(max(a))
print(sum(a))
sorted(a)

In [ ]:
# Tuple to list

b = ("Apple","Ball","Cat")
c = list(b)
print(c)
del c[0]
b = tuple(c)
print(b)

In [ ]:
# Tuple inside Tuple

info = ()
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = info + ((name ,age,add),)

print(info)