In [3]:
# Set
# multiple and no duplicate 
# unordered
# mutable
# unindex
#set{} #yesari define garxau i.e curle braces le denote garxau

s = {1,2,3,4,5,6,7,8,9,10}
print(type(s))

<class 'set'>

In [ ]:
# Set{} ka function haru:
  #set()
  #add()
  #pop()
  #remove()
  #clear()
  #discard()
  #update()

In [4]:
s = {'Apple' , 'Ball' , 'Cat' , 'Dog' , 'Ball' , 'Apple'}  # Note: set{} ma hami le jati pani repeated value deyau vani set{} le ek choti matra value return garxa kina
                                                             #vani set{} le unique value maa kaam garxa
print(s)

{'Apple', 'Ball', 'Cat', 'Dog'}

In [10]:
s = {4,5,7,8,10,3,6,92,1,2,'Apple'}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 'Apple', 10, 92}

In [11]:
# Add
s = set()
s.add('Apple')
s.add('Ball')
s.add('cat')
print(s)

{'Apple', 'cat', 'Ball'}

In [12]:
s = {'Apple' , 'Ball' , 'Cat' , 'Dog' , 'Ball' , 'Apple'}
for i in s:
    print(i)

Apple
Ball
Cat
Dog

In [14]:
# Set for math

apple = {'Ram' , 'Hari' , 'Teja' , 'Tej' ,'Ravi'}
ms = {'Ram' , 'Bill' , 'Satya' , 'Kamala' , 'Teja'}

print('Both in apple and ms = ' , apple.intersection(ms))

Both in apple and ms =  {'Ram', 'Teja'}

In [15]:
# Set for math

apple = {'Ram' , 'Hari' , 'Teja' , 'Tej' ,'Ravi'}
ms = {'Ram' , 'Bill' , 'Satya' , 'Kamala' , 'Teja'}

print('When both combines = ' , apple.union(ms))

When both combines =  {'Ravi', 'Ram', 'Teja', 'Kamala', 'Satya', 'Tej', 'Hari', 'Bill'}

In [17]:
# Set for math

apple = {'Ram' , 'Hari' , 'Teja' , 'Tej' ,'Ravi'}
ms = {'Ram' , 'Bill' , 'Satya' , 'Kamala' , 'Teja'}

print('Only apple ' , apple - ms)
print('Only ms ', ms - apple)

Only apple  {'Tej', 'Ravi', 'Hari'}
Only ms  {'Bill', 'Kamala', 'Satya'}

In [1]:
# Set for math

U = {'Ram' , 'Hari' , 'Teja' , 'Tej' ,'Ravi' , 'Bill' , 'Satya' , 'Kamala' , 'Teja', 'xyz','abc'}
apple = {'Ram' , 'Hari' , 'Teja' , 'Tej' ,'Ravi'}
ms = {'Ram' , 'Bill' , 'Satya' , 'Kamala' , 'Teja'}

print('Both in apple and ms = ' , apple.intersection(ms))
print('Only apple ' , apple - ms)
print('Only ms ', ms - apple)
U - apple.union(ms) # apple ra ms maa navaka haru yesari nikalne

Both in apple and ms =  {'Ram', 'Teja'}
Only apple  {'Ravi', 'Tej', 'Hari'}
Only ms  {'Satya', 'Kamala', 'Bill'}

{'abc', 'xyz'}